/* Style for header */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}
header {
    background-color: #051c33; /* Blue background color */
    color: white; /* White text color */
    text-align: center; /* Center align text */
    padding: 20px 0; /* Add padding */
}

header h1 {
    margin: 0; /* Remove margin */
    font-size: 36px; /* Larger font size */
}

/* Style for container */
.container {
    margin: 20px; /* Add margin */
}

h2 {
    margin-bottom: 10px; /* Add margin below the heading */
}

h3 {
    margin-top: 20px; /* Add margin above the subheadings */
}

ul {
    list-style-type: none; /* Remove default list styling */
    padding: 0; /* Remove default padding */
}

ul li {
    margin-bottom: 5px; /* Add margin between list items */
}

.feedback {
    font-weight: bold; /* Make feedback text bold */
    color: #007bff; /* Blue color for correct feedback */
}

.feedback.wrong {
    color: red; /* Red color for wrong feedback */
}
.lg {
    top:30px;
    position: absolute;
    /*top: 50%;*/
    right: 20px;
    transform: translateY(-50%);
    color: black;
    font-size: 20px;
    font-weight: 50;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
}
.lg:hover{
    background-color: #9fc3ea;
}